* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georama", Arial, Helvetica, sans-serif;
}

.navbar,
.hero,
footer {
  background-color: #1f2937;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero,
.information,
.quote,
.action {
  margin-bottom: 32px;
}

nav {
  align-self: flex-end;
}

.navbar {
  padding-top: 16px;
}

.hero .flex {
  gap: 58px;
  padding: 64px 0;
}

.left {
  display: flex;
  flex-direction: column;
  flex-shrink: 4;
}

.right {
  width: 55%;
  flex-shrink: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right img {
  width: 100%;
}

.image-container {
  align-items: flex-start;
  gap: 64px;
  padding: 0 80px;
}

.images {
  max-width: 150px;
  text-align: center;
}

.images img {
  width: 100%;
  margin-bottom: 8px;
}

.quote {
  background-color: #e5e7eb;
  padding: 64px 0;
}

.quote .flex {
  flex-direction: column;
  gap: 16px;
  padding: 0 80px;
}

.author {
  align-self: flex-end;
}

.action {
  padding: 32px 0;
}

.action .container {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 32px 80px;
  width: 100%;
}

footer .flex {
  justify-content: center;
}
footer {
  padding: 32px 0;
}

/* BUTTON STYLE */

button {
  align-self: flex-start;
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  margin-top: 8px;
  padding: 8px 16px;
}

.action button {
  border: 2px solid #e5e7eb;
}

/* LINKS */

nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

a {
  text-decoration: none;
}

/* FONT STYLES */

header h1 {
  color: #f9faf8;
  font-size: 24px;
}

a {
  color: #e5e7eb;
  font-size: 18px;
}

.hero h2 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 8px;
}

.hero p {
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 8px;
}

button {
  color: #e5e7eb;
  font-size: 16px;
  font-weight: 700;
}

.information h2 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 32px;
}

.text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}

.author {
  font-weight: 700;
}

h3 {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 900;
}

.action p {
  color: #e5e7eb;
  font-size: 16px;
}

footer {
  color: #e5e7eb;
  font-size: 16px;
}
